body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #cfc7dbc1;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#app {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 2rem;
}

h2 {
  color: #856eb5;
  margin-bottom: 1rem;
}

/* Form */
form {
  margin-bottom: 2rem;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #7f78c4;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #6a63a9;
  transform: translateY(-2px);
}

/* Todo List */
#todo-list {
  list-style-type: none;
  padding: 0;
}

#todo-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

#todo-list li h3 {
  color: #634eb4;
  flex: 1;
  margin: 0;
}

#todo-list li p {
  color: #333;
  flex: 3;
  margin: 0 1rem;
}

#todo-list li button {
  background-color: #7f78c4;
  margin-left: 0.5rem;
  padding: 0.5rem 0.8rem;
}

#todo-list li button:hover {
  background-color: #6a63a9;
}

/* Completed Todo Style */
.completed {
  text-decoration: line-through;
  color: #7f8c8d;
}

/* Auth Forms */
#auth-forms {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#register-form,
#login-form {
  flex: 1;
}

/* Logout Button */
#logout-btn {
  background-color: #e74c3c;
  margin-bottom: 1rem;
}

#logout-btn:hover {
  background-color: #c0392b;
}

/* Edit Todo Form */
#edit-todo-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

/* Responsive Design */
@media (max-width: 768px) {
  #app {
    margin: 1rem;
    padding: 1rem;
  }

  #auth-forms {
    flex-direction: column;
  }

  #register-form,
  #login-form {
    width: 100%;
    margin-bottom: 1rem;
  }
}
